# Dependencias locales
/vendor
/node_modules

# Control de versiones
.git
.gitignore

# Configuraciones locales
.env
.env.local
.env.*.local

# Archivos de sistema y temporales
*.log
*.cache
*.tmp
*.swp

# Configuraciones de IDE
.vscode/
.idea/

# Archivos de despliegue locales
docker-compose.override.yml
